*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
}

.container {
  background: white;
  min-height: 100vh;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.9);
  font-size: calc(2rem - 15px);
}
.todo-header {
  justify-self: center;
}
.todo-input {
  display: flex;
  margin: 10px 0;
}

.taskInput {
  width: 80%;
}
.addTask {
  width: 20%;
}

input,
button {
  margin: 10px 7px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: calc(2rem - 20px);
}

button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.taskList {
  list-style-type: none;
  border-radius: 4px;
}

li {
  background: #f9f9f9;
  padding: 10px;
  margin: 7px 0;
}

li span {
  word-wrap: break-word;
  margin-left: 0.5em;
}

@media (min-width: 900px) {
  body {
    justify-items: center;
  }
}
